<div class="row">
  <div class="col-md-3">
  </div>
  <form class="col-md-6">
    <h2>
      Customer Details
    </h2>
    <div class="form-group">
      <label> Customer ID </label>
      <input class="form-control" readonly>
    </div>
    <div class="form-group">
      <label> First Name</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label> Last Name</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label> Birthday</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label> Gender</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label>Last Contact</label>
      <input class="form-control">
    </div>
    <div class="form-group">
      <label>Customer Lifetime Value</label>
      <input class="form-control">
    </div>
    <button ng-click="saveDetails()" type="submit" class="btn btn-primary">
      Save
    </button>
    <button ng-click="cancelDetails()" type="submit" class="btn btn-primary">
      Cancel
    </button>
  </form>
</div>
