<div class="row" ng-controller="CustomerDetailsCtrl">
  <div class="col-md-3">
  </div>
  <form class="col-md-6">
    <h2>
      Customer Details
    </h2>
    <div class="form-group">
      <label> Customer ID </label>
      <input class="form-control" placeholder="{{customer.id}}" readonly>
    </div>
    <div class="form-group">
      <label> First Name</label>
      <input ng-model="inputFN" class="form-control" placeholder="{{customer.firstName}}">
    </div>
    <div class="form-group">
      <label> Last Name</label>
      <input ng-model="inputLN" class="form-control" placeholder="{{customer.lastName}}">
    </div>
    <div class="form-group">
      <label> Birthday</label>
      <input ng-model="inputBirthday" class="form-control" placeholder="{{customer.birthday}}">
    </div>
    <div class="form-group"  ng-if="customer.gender == 'm'">
      <label> Gender</label>
      <input ng-model="inputGender" class="form-control" placeholder="Male">
    </div>
    <div class="form-group"  ng-if="customer.gender == 'w'">
      <label> Gender</label>
      <input ng-model="inputGender" class="form-control" placeholder="Female">
    </div>
    <div class="form-group">
      <label>Last Contact</label>
      <input ng-model="inputLastContacted"  class="form-control" placeholder="{{customer.lastContacted}}">
    </div>
    <div class="form-group">
      <label>Customer Lifetime Value</label>
      <input ng-model="inputValue" class="form-control" placeholder="{{customer.value}}">
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      ng-click="saveDetails(inputFN,inputLN,inputBirthday,inputGender,inputLastContacted,inputValue)"
    >
      Save
    </button>
    <button ng-click="cancelDetails()" type="submit" class="btn btn-primary">
      Cancel
    </button>
  </form>
</div>
