<div
  class="row"
  ng-app="MyApp.navigation-data"
  ng-controller="NavigationDataCtrl"
>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h2>
      Navigation Data for {{name}}
    </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="sortalphabetically()">Page</th>
          <th ng-click="sortTimeStamp()">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="d in data">
          <td> {{d.pages}} </td>
          <td> {{d.TimeStamp}} </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="backToOverview()" class="btn btn-primary"> Back to Overview </button>
  </div>
</div>
